/*Overwrite default foundation max width*/

.row {
  max-width: 1200;
}


/*base.css*/
body {
  background-color: #FF5300;
  font-family: 'Fira Sans', sans-serif;
}

.box {
  background-color: #333;
  background-image: url("/images/testbg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
}

.box h1 {
  color: white;
}

.box p {
  color: white;
}


.centered-text {
  text-align: center;
}

.orange-bg {
  background-color: #FF5300;
}

.display {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-style: italic;
  font-weight: 900;
  line-height: 1em;
  text-align: left;
  color: #ffffff;
}

.title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em;
  font-style: bold;
  line-height: 1.2em;
  text-align: left;
  color: #ffffff;
}

.intro {
  padding: 5%;
  height: 80vh;
}

.body-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.2em;
  text-align: left;
  padding-top: 5%
}

.section-light .body-text {
  color: #262626;
}

.background-image-1 {
  background-image: url("/images/hand-cut.svg");
  background-size: cover;
  /*background-size: cover;*/
  background-position: 25% 25%;
}

.project-image {
  background-image: url("/images/twint_hero.jpg");
  background-size: cover;
  background-position: 25% 25%;
  opacity: 0.95;
  background-color: #000000;
}
