<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
    <title>Portfolio Tibor Kranjc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/animate.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Fira+Sans|Playfair+Display">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </head>

<body>

<%= yield %>
<div class="row">
  <div class="small-12 columns">
    <footer>© Tibor Kranjc - this is a footer</footer>
  </div>
</div>
</body>

</html>
