
<!-- this is what 'application' yields between the <body> tags -->

  <div class="row orange-bg centered-text">
    <div class="small-12 large-12 columns">
        <h1 class="display">User is my client and simplicity my tool</h1>
        <p class="body-text">I’m Tibor and I’m an interaction designer.
          Confident that best results are achieved through feedback and intuition,
          I design user centered digital products.</p>
    </div>
  </div>

<div class="row expanded">
    <div class="small-12 large-12 columns box">
      <div class="centered-text">
        <h1>INTERACTIONS</h1>
        <p>This is about interactions</p>
      </div>
    </div>
</div>
<div class="row expanded">
  <div class="small-12 large-4 columns box">
    <div class="centered-text">
      <h1>VISUALS</h1>
      <p>This is about visual design</p>
    </div>
  </div>
  <div class="small-12 large-4 columns box">
    <div class="centered-text">
      <h1>ILLUSTRATION</h1>
      <p>This is about illustration</p>
    </div>
  </div>
  <div class="small-12 large-4 columns box">
    <div class="centered-text">
      <h1>THOUGHTS</h1>
      <p>This is about talks and blogs</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
      <p class="body-text">This is another div and a little bit about me</p>
    </div>
</div>
