
<!-- this is what 'application' yields between the <body> tags -->

  <div class="intro background-image-1">
        <h1 class="display">User is my client and simplicity my tool</h1>
        <p class="body-text">I’m Tibor and I’m an interaction designer.
          Confident that best results are achieved through feedback and intuition,
          I design user centered digital products.</p>
  </div>

  <div class="section-light">
      <p class="body-text">This is my next div</p>
      <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>
  </div>

<!-- </head>

<body>
  <ul class="menu">
  <li class="active"><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>
</ul>

<div class="row">
  <div class="small-12 large-4 columns"><h1>column1</h1></div>
  <div class="small-12 large-4 columns"><h1>column2</h1></div>
</div>


  <div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <a href="#" class="js-clickable">Click me</a>
    </div>
    <h1 class='js-target'>Hallo Welt</h1>
    <h1 class=''>Second Hello</h1>
  </div>

</body> -->
