
<div class="intro project-image">

</div>

<div class="article-title">
  <h1 class="title">TWINT - Swiss digital wallet</h1>
  <p class="body-text">Native app for iOS and Android</p>
</div>

<div class="section-light">
    <p class="body-text">This is my next div</p>
    <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>
</div>
