/* Beginning of style.css */
.sidebar {
  background-color: green;
  width: 80%;
  height: 100%;
}

.outer-block {
  background-color: #e4dfa0;
  height: 100px;
  width: 50%;
/* variant 1 */
  margin: 30px;
  /* padding: 30px; */
  border: 1px solid #ceca90;
}



/* */

}
/* Classes / IDs */


/* Box Model */
